<template>
  <div>
    <h1>{{ count }}</h1>
    <h3>fucking fire {{ $tense('alarm', count) }} this {{ unit }}</h3>
  </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'

@Component
export default class App extends Vue {
  @Prop(Number) count!: number
  @Prop(String) unit!: string
}
</script>
