<template>
  <div id="app">
    <div class="row"><h2>it has been</h2></div>
    <div class="col">
      <h1>{{ days }}</h1>
      <h3>{{ $tense('day', days) }} since the last fucking fire alarm</h3>
    </div>
    <div class="row"><h2>there has/have been</h2></div>
    <div class="row">
      <Count class="col" :count="semesterCount" unit="semester"/>
      <Count class="col" :count="monthCount" unit="month"/>
      <Count class="col" :count="weekCount" unit="week"/>
    </div>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import Count from './components/Count.vue'

@Component({
  components: {
    Count
  }
})
export default class App extends Vue {
  alarms: Date[] = []
  display = true

  get days (): number {
    return Math.floor((new Date().getTime() - this.alarms.reduce((previous: Date, current: Date) => current.getTime() > previous.getTime() ? current : previous, new Date(0)).getTime()) / (1000 * 3600 * 24))
  }

  get monthCount (): number {
    return this.alarms.filter((alarm: Date) => alarm.getTime() > new Date().getTime() - 1000 * 3600 * 24 * 30).length
  }

  get semesterCount (): number {
    const date = new Date()
    const month = date.getMonth()
    // you're seriously telling me that getYear is deprecated due to the y2k problem?
    // have i mentioned how much i dislike javascript
    const alarms = this.alarms.filter((alarm: Date) => alarm.getFullYear() === date.getFullYear())
    // gonna get reassigned in literally 5 seconds
    let filterFunc = null
    if (month === 0) {
      filterFunc = (alarm: Date) => alarm.getMonth() === 0
    } else if (month < 6) {
      filterFunc = (alarm: Date) => alarm.getMonth() > 0 && alarm.getMonth() < 6
    } else {
      filterFunc = (alarm: Date) => alarm.getMonth() > 5
    }
    return alarms.filter(filterFunc).length
  }

  get weekCount (): number {
    return this.alarms.filter((alarm: Date) => alarm.getTime() > new Date().getTime() - 1000 * 3600 * 24 * 7).length
  }

  async mounted (): Promise<void> {
    const config = (await this.$http.get('config.json')).data
    this.alarms = config.alarms.map((alarm: string) => new Date(alarm))
  }
}
</script>

<style>
h1 {
  font-size: 800%;
  margin: 0;
}

h2 {
  font-size: 400%;
  text-align: center;
}

h3 {
  font-size: 200%;
  text-align: center;
}

.col {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}
</style>
